body {
  font-family: "Gothic A1", sans-serif;
  font-size: 15px;
  color: #000000;
  background-color: rgba(202, 202, 206, 0.932);
}
.fonts {
  font-family: "Gothic A1", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Brush Script", cursive;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sawarabi Gothic", sans-serif;
}
.con {
  left: 2vw;
  width: 95vw;
  margin: 0 auto;
  display: inline-block;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1 {
  margin: 0;
  font-family: "Oswald", sans-serif;
}
.rl {
  top: 10vh;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: inline-block;
}
.right {
  right: 1.5vw;
  padding: 0.5%;
  background-color: #000000;
  box-shadow: 5px 5px;
  box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
  position: inherit;
  margin: inherit;
  z-index: inherit;
  display: inherit;
  object-fit: cover;
}

.left {
  background-color: rgba(255, 255, 255, 0.425);
  left: 1.5vh;
  border: 0.2vw solid black;
  padding: 0.5%;
  border-collapse: collapse;
  padding-top: 5px;
  box-shadow: 5px 5px;
  box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
  position: inherit;
  margin: inherit;
  z-index: inherit;
  font-size: 13px;
  font-family: "Nanum Gothic Coding", monospace;
  display: inherit;
}
.butass {
  height: 35px;
  width: 35px;
  z-index: 1;
  position: inherit;
  top: 60vh;
  right: 29.5vw;
  background-image: url(assets/images/назад.bmp);
  background-position: center;
  border-collapse: collapse;
  border: black 0.1% solid;
  margin: inherit;
  display: inherit;
}
.butass1 {
  height: 35px;
  width: 35px;
  z-index: 1;
  top: 60vh;
  position: inherit;
  right: 2vw;
  background-image: url(assets/images/вперде.bmp);
  background-position: center;
  border-collapse: collapse;
  border: black 0.1% solid;
  margin: inherit;
  display: inherit;
}
button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  background-color: rgb(145, 146, 156);
  max-height: 6%;
  min-height: 6%;
  border-collapse: collapse;
}
.play {
  left: 70%;
  top: inherit;
  position: inherit;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  z-index: inherit;
  background-image: url(assets/images/плей.bmp);
  border-collapse: inherit;
}
.pause {
  left: 75%;
  top: inherit;
  position: inherit;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  z-index: inherit;
  background-image: url(assets/images/пауза.bmp);
  border-collapse: inherit;
}
.prev {
  left: 80%;
  top: inherit;
  position: inherit;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  z-index: inherit;
  background-image: url(assets/images/назад.bmp);
  border-collapse: inherit;
}
.next {
  left: 85%;
  top: inherit;
  position: inherit;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  z-index: inherit;
  background-image: url(assets/images/вперде.bmp);
  border-collapse: inherit;
}
.audio-track {
  width: 100%;
  height: 0.5vh;
  background-color: #000000;
  left: 0;
  top: 6%;
  position: inherit;
  z-index: inherit;
}
.time {
  width: 0;
  height: 0.5vh;
  background-color: white;
  left: 0;
  top: 6%;
  position: inherit;
  z-index: inherit;
}

table {
  position: absolute;
  width: 95vw;
  top: 108vh;
  left: 2vw;
  border-collapse: collapse;
  border-spacing: 0px 0px;
  border: 5px solid black;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: rgb(197, 197, 197);
}

th {
  border-right: black 2px solid;
  border-left: black 2px solid;
  text-align: center;
  background-color: rgb(145, 145, 175);
  border-collapse: collapse;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  color: black;
  padding: 3px;
}
td {
  border-right: black 2px solid;
  border-collapse: collapse;
  font-family: inherit;
  border-top: 2px black dashed;
  width: 45%;
  text-align: center;
  font-size: 13px;
  color: black;
  padding: 3px;
}
.spisok {
  position: absolute;
  top: 101vh;
  left: 35vw;
  font-size: 22px;
  font-family: "Nanum Gothic Coding", monospace;
}
.s {
  background-color: gray;
}
.g {
  background-color: green;
}
.y {
  background-color: yellow;
}
.r {
  background-color: red;
}
.videoyou {
  position: absolute;
  top: 380vh;
  left: 15vw;
  width: 70vw;
  height: 80vh;
}
.vdcon {
  position: absolute;
  top: 45vh;
  left: 5vw;
  display: block;
  width: 25vw;
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 3px 3px #000000;
  margin: 13px;
  z-index: 2;
}
.video {
  position: inherit;
  display: block;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: inherit;
}
.fonts {
  font-family: "Gothic A1", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Brush Script", cursive;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sawarabi Gothic", sans-serif;
}
.fail {
  position: absolute;
  top: 520vh;
  left: 15vw;
  width: 70vw;
  height: 80vh;
}
button:hover {
  cursor: pointer;
}
.end {
  top: 650vh;
  position: absolute;
  left: 10vw;
  width: 80vw;
  text-align: right;
  font-family: "Raleway", sans-serif;
}
