body {
  font-family: "Ubuntu";
  font-size: 15px;
  color: #000000;
  background-color: rgba(202, 202, 206, 0.932);
  display: flex;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(202, 202, 206, 0.932);
  opacity: 100%;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #9a9a9b;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(1080deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.fonts {
  font-family: "Gothic A1", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Brush Script", cursive;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sawarabi Gothic", sans-serif;
  font-family: "Ubuntu"; /* основной шрифт */
}

.con {
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto 0;
  padding: 0px 15px;
  background-color: rgb(187, 187, 187);
}
@media (max-width: 1000px) {
  .con {
    max-width: 870px;
  }
  .left {
    margin-right: 0;
  }
  .right {
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .con {
    max-width: 750px;
  }
  .left {
    margin-right: 0;
  }
  .right {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .con {
    max-width: none;
  }
  .left {
    margin-right: 0;
  }
  .right {
    margin-left: 0;
  }
}

.fs {
  overflow: hidden;
  display: flex;
}

.header {
  position: fixed;
  height: 5%;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #7f7d86;
  top: 0;
  margin: 0 auto;
  z-index: 100;
  opacity: 0.9;
}
.mfi{
  position: absolute;
  margin: 0 auto;
}
.te {
  left: 8%;
  font-size: 1.5vmax;
  color: black;
  font-family: "Ubuntu";
  position: fixed;
  top: 1%;
}
.play {
  cursor: pointer;
  top: 0.2%;
  left: 74%;
  position: fixed;
  min-width: 2.3%;
  min-height: 4.5%;
  max-width: 35px;
  max-height: 35px;
  z-index: 101;
  font-size: 30px;
  border-collapse: collapse;
}
.pause {
  cursor: pointer;
  top: 0.2%;
  left: 78%;
  position: fixed;
  min-width: 2.3%;
  min-height: 4.5%;
  max-width: 35px;
  max-height: 35px;
  z-index: 101;
  font-size: 30px;
  border-collapse: collapse;
}
.prev {
  cursor: pointer;
  top: 0.2%;
  left: 82%;
  position: fixed;
  min-width: 2.3%;
  min-height: 4.5%;
  max-width: 35px;
  max-height: 35px;
  z-index: 101;
  font-size: 30px;
  border-collapse: collapse;
}
.next {
  cursor: pointer;
  top: 0.2%;
  left: 86%;
  position: fixed;
  min-width: 2.3%;
  min-height: 4.5%;
  max-width: 35px;
  max-height: 35px;
  z-index: 101;
  font-size: 30px;
  border-collapse: collapse;
}
.audio-track {
  width: 100%;
  height: 1%;
  background-color: #000000;
  left: 0;
  top: 5%;
  position: fixed;
  z-index: 1;
}
.time {
  width: 0;
  height: 1%;
  background-color: white;
  left: 0;
  top: 5%;
  position: fixed;
  z-index: 1;
}

.left {
  left: 0;
  background-color: rgba(255, 255, 255, 0.425);
  border: 0.2vw solid black;
  border-collapse: collapse;
  padding-top: 5px;
  box-shadow: 5px 5px;
  box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
  font-size: 1.2vmax;
  font-family: "Ubuntu";
  padding: 10px;
  height: 35%;
  margin-top: 7vh;
}

.kno {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: inherit;
  overflow: hidden;
}
.slider {
  max-width: 40%;
  max-height: 60vh;
  right: 0;
  position: relative;
  overflow: hidden;
  border: 0.2vw solid black;
  box-shadow: 5px 5px;
  box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
  margin-right: 0;
  margin-left: 10%;
  margin-top: 7vh;
  background-color: black;
}
.slider .item img {
  object-fit: contain;
  width: 100;
  height: 100;
  align-items: center;
  
}

.slider .pr{
  cursor: pointer;
  position: absolute;
  top: 45%;
  z-index: 10;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .ne {
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 10;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  border-radius: 3px 0 0 3px;
}
.slider .pr:hover,
.slider .ne:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
  animation-name: other;
  animation-duration: 1.2s;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes other {
  0%  {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Контейнер с видео*/

.vdcon {
  box-sizing: border-box;
  margin: 5% auto;
  display: flex;
  overflow: hidden;
  min-width: 25vmax;
  min-height: 20vmax;
  max-height: 25vmax;
  max-width: 25vmax;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px #000000;
  z-index: 2;
  justify-content: center;
}
.video {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: inherit;
}
.playv {
  cursor: pointer;
  opacity: 0.7;
  height: 8%;
  width: 5%;
  z-index: 3;
  font-size: 40px;
  align-items: center;
  position: absolute;
  margin-top: 17%;
  margin-right: 10%;
  border-collapse: collapse;
  width: auto;
  border-radius: 0 3px 3px 0;
  border-radius: 3px 0 0 3px;
}
.pausev {
  cursor: pointer;
  opacity: 0.7;
  height: 8%;
  width: 5%;
  z-index: 3;
  align-items: center;
  position: absolute;
  margin-top: 17%;
  margin-left: 10%;
  font-size: 45px;
  width: auto;
  border-collapse: collapse;
  border-radius: 0 3px 3px 0;
  border-radius: 3px 0 0 3px;
}

table {
  margin-top: 3vh;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px 0px;
  border: 0.25vh solid black;
  font-family: "Ubuntu";
  font-size: 12px;
  background-color: rgb(197, 197, 197);
  padding: 5px;
}

th {
  border-right: black 0.25vh solid;
  border-left: black 0.25vh solid;
  text-align: center;
  background-color: rgb(145, 145, 175);
  border-collapse: collapse;
  font-family: inherit;
  font-size: 12px;
  font-weight: normal;
  color: black;
  padding: 3px;
}
td {
  border-right: black 0.25vh solid;
  border-collapse: collapse;
  font-family: inherit;
  border-top: 0.25vh black dashed;
  width: 45%;
  text-align: center;
  font-size: inherit;
  color: black;
  padding: 3px;
}
.spisok {
  margin-top: 5vh;
  margin-left: 25%;
  font-size: 22px;
  font-family: "Ubuntu";
}
.s {
  background-color: gray;
}
.g {
  background-color: green;
}
.y {
  background-color: yellow;
}
.r {
  background-color: red;
}
.videoyou {
  width: 100%;
  height: 80vh;
  margin-top: 5vh;
}

.fail {
  margin-top: 5vh;

  width: 100%;
  height: 80vh;
}
button:hover {
  cursor: pointer;
}
.end {
  width: 100%;
  text-align: right;
  font-family: "Ubuntu";
}

/* Контейнер с видео*/

/* Плеер */
