body {
  font-family: "Ubuntu";
  font-size: 15px;
  color: #000000;
  background-color: rgba(179, 179, 179, 0.932);
  align-items: center;
}
@media (max-width: 1000px) {
  .con {
    max-width: 870px;
  }
  .left {
    margin-right: 0;
  }
  .right {
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .con {
    max-width: 750px;
  }
  .left {
    margin-right: 0;
  }
  .right {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .con {
    max-width: none;
  }
  .left {
    margin-right: 0;
  }
  .right {
    margin-left: 0;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(202, 202, 206, 0.932);
  opacity: 100%;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #9a9a9b;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(1080deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.con {
  overflow: hidden;
  max-width: 100%;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0px 15px;
  background-color: rgb(211, 210, 210);
}
.up {
  font-size: 20px;
  font-family: "Ubuntu";
  position: fixed;
  height: 5%;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #7f7d86;
  top: 0;
  margin: 0 auto;
  z-index: 100;
  opacity: 0.9;
}
.track {
  height: 50%;
  width: 20%;
  position: absolute;
  right: 35%;
  top: 2%;
  overflow: hidden;
}
.track_item {
  font-family: "Ubuntu";
  font-size: 15px;
  color: white;
  position: absolute;
}
.play {
  cursor: pointer;
  top: 0.2%;
  left: 74%;
  position: fixed;
  min-width: 2.3%;
  min-height: 4.5%;
  max-width: 35px;
  max-height: 35px;
  z-index: 101;
  font-size: 30px;
  border-collapse: collapse;
}
.pause {
  cursor: pointer;
  top: 0.2%;
  left: 78%;
  position: fixed;
  min-width: 2.3%;
  min-height: 4.5%;
  max-width: 35px;
  max-height: 35px;
  z-index: 101;
  font-size: 30px;
  border-collapse: collapse;
}
.prev {
  cursor: pointer;
  top: 0.2%;
  left: 82%;
  position: fixed;
  min-width: 2.3%;
  min-height: 4.5%;
  max-width: 35px;
  max-height: 35px;
  z-index: 101;
  font-size: 30px;
  border-collapse: collapse;
}
.next {
  cursor: pointer;
  top: 0.2%;
  left: 86%;
  position: fixed;
  min-width: 2.3%;
  min-height: 4.5%;
  max-width: 35px;
  max-height: 35px;
  z-index: 101;
  font-size: 30px;
  border-collapse: collapse;
}
.audio-track {
  width: 100%;
  height: 1%;
  background-color: #000000;
  left: 0;
  top: 5%;
  position: fixed;
  z-index: 1;
}
.time {
  width: 0;
  height: 1%;
  background-color: white;
  left: 0;
  top: 5%;
  position: fixed;
  z-index: 1;
}
.left {
  left: 0;
  background-color: rgba(255, 255, 255, 0.425);
  border: 0.2vw solid black;
  border-collapse: collapse;
  padding-top: 5px;
  box-shadow: 5px 5px;
  box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
  font-size: 1.2vmax;
  font-family: "Ubuntu";
  padding: 10px;
  height: 35%;
  margin-top: 7vh;
}
.text {
  left: 0;
  background-color: transparent;
  border: 0.2vw solid black;
  border-collapse: collapse;
  padding-top: 5px;
  box-shadow: 5px 5px;
  box-shadow: 3px 3px 5px rgba(122, 122, 122, 0.5);
  font-size: 18px;
  font-family: "Ubuntu";
  padding: 10px;
  height: 35%;
  margin-top: 5vh;
}
.minitext {
  font-size: 14px;
  font-family: "Ubuntu";
}
.post.body {
  left: 0;
  width: 1vw;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.foto {
  max-width: 35%;
  height: 25%;
  overflow: hidden;
  z-index: 2;
}
.logos {
  width: auto;
  height: auto;
}
.logo {
  width: 10%;
  height: 5%;
  display: grid;
}
.logosfoto {
  overflow: hidden;
  display: flex;
  padding: 1vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}
.links {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh;
  overflow: hidden;
  width: auto;
  color: #1dd75f;
}
.links2 {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh;
  overflow: hidden;
  width: auto;
  color: #0278ff;
}
.links3 {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh;
  overflow: hidden;
  width: auto;
  color: #ffcf00;
}
.links4 {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh;
  overflow: hidden;
  width: auto;
  color: white;
}
.endlink{
    padding: 1vh;
    overflow: hidden;
    width: auto;
    color: black;
}
.dataa {
  right: 0;
  font-size: 18px;
  font-family: "Ubuntu";
}
.end {
  width: 100%;
  padding-top: 5vh;
  font-family: "Ubuntu";
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.endtext1 {
  position: relative;
  width: 20%;
  height: auto;
  padding: 1vh;
  left: 0;
  font-family: "Ubuntu";
}
.endtext2 {
  position: relative;
  width:20%;
  height: auto;
  padding:1vh;
  left: 20%;
  text-align: center;
  font-family: "Ubuntu";
}
.endtext3 {
  position: relative;
  width: 20%;
  height: auto;
  padding: 1vh;
  left: 38%;
  text-align: right;
  font-family: "Ubuntu";
}

.text2 {
  overflow: hidden;
  display: flex;
  left: 0;
  background: transparent;
  border: 0.2vw solid black;
  border-collapse: collapse;
  box-shadow: 5px 5px 7px rgba(122, 122, 122, 0.5);
  font-size: 18px;
  font-family: "Ubuntu";
  padding: 1vh;
  margin-top: 5vh;
  height: 35%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}

.Isten {
  width: 25%;
  height: 25%;
  overflow: hidden;
  z-index: 2;
}
.header {
  position: fixed;
  height: 5%;
  width: 100%;
  left: 0;
  background-color: gray;
  top: 0;
  margin: 0 auto;
  z-index: 100;
  opacity: 0.9;
  text-align: center;
}
.HeaderMain {
  height: 5%;
  font-family: "Ubuntu";
  font-weight: bolder;
  padding: 1.5vw;
  text-decoration: overline;
  color: white;
  padding-top: 35vh;
  font-size: x-large;
}
.HeaderHistory {
  height: 5%;
  font-family: "Ubuntu";
  font-weight: bolder;
  color: white;
  text-decoration: overline;
  padding: 1.5vw;
  padding-top: 35vh;
  font-size: x-large;
}
.HeaderMusic {
  color: white;
  height: 5%;
  text-decoration: overline;
  font-family: "Ubuntu";
  font-weight: bolder;
  padding: 1.5vw;
  padding-top: 35vh;
  font-size: x-large;
}
.LogoMain {
  overflow: hidden;
  height: 250px;
  width: 250px;
  z-index: 2;
  padding-top: 5vh;
  position: relative;
}
.LogoMainDiv {
  text-align: center;
  position: relative;
}
.nothing {
  padding-top: 15vh;
  text-align: center;
}
.text0 {
  text-align: center;
  border: 0.2vw solid black;
  border-collapse: collapse;
  box-shadow: 5px 5px 7px rgba(122, 122, 122, 0.5);
  font-size: 18px;
  font-family: "Ubuntu";
  width: 50%;
  padding: 1vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 5vh;
  height: 35%;
}
