body {
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  line-height: 1.71429;
  color: #000000;
  background-color: rgb(255, 255, 255);
  align-items: center;
}
.con {
  overflow: hidden;
  max-width: 90%;
  margin-top: 9vh;
  margin-left: 10%;
  margin-right: 10%;
}
.endlink {
  padding: 1vh;
  overflow: hidden;
  width: auto;
  color: rgb(0, 0, 0);
}
.end {
  max-width: 100%;
  padding-top: 10vh;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
  font-weight: 700;
  justify-content: space-between;
}
.text0 {
  text-align: center;
  border: 0.2vw solid black;
  border-collapse: collapse;
  box-shadow: 5px 5px 7px rgba(122, 122, 122, 0.5);
  font-size: 18px;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  width: 50%;
  padding: 1vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 5vh;
  height: 35%;
}
.text {
  text-align: center;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  width: auto;
  padding: 1vh;
}
.dataa {
  right: 0;
  font-size: 18px;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.endtext1 {
  position: relative;
  width: auto;
  text-align: center;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.endtext2 {
  position: relative;
  width: auto;
  text-align: center;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.endtext3 {
  position: relative;
  width: auto;
  text-align: right;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.nothing {
  padding-top: 20vh;
  padding-bottom: 35vh;
  text-align: center;
}
.header {
  position: fixed;
  height: 7%;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  margin: 0 auto;
  z-index: 100;
  opacity: 0.9;
  text-align: center;
}
.HeaderText {
  height: 5%;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 2vw;
  text-decoration: auto;
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  
}
.HeaderMainLogo {
  height: 5%;
  margin-left: 0;
  font-family: "Ubuntu";
  padding: 1.5vw;
  text-decoration: overline;
  color: white;
  padding-top: 35vh;
  font-size: x-large;
}
.foto {
  max-width: 35%;
  height: 25%;
  overflow: hidden;
  z-index: 2;
}
.minitext {
  font-size: 14px;
  font-family: "Ubuntu";
}
.text2 {
  overflow: hidden;
  display: flex;
  left: 0;
  background: transparent;
  border: 0.2vw solid black;
  border-collapse: collapse;
  box-shadow: 5px 5px 7px rgba(122, 122, 122, 0.5);
  font-size: 18px;
  font-family: "Ubuntu";
  padding: 1vh;
  margin-top: 5vh;
  height: 35%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}
.text0 {
  text-align: center;
  border: 0.2vw solid black;
  border-collapse: collapse;
  box-shadow: 5px 5px 7px rgba(122, 122, 122, 0.5);
  font-size: 18px;
  font-family: "Ubuntu";
  width: 50%;
  padding: 1vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 5vh;
  height: 35%;
}
.Isten {
  width: 25%;
  height: 25%;
  overflow: hidden;
  z-index: 2;
}
.conbio{
  padding-top: 5vh;
  margin: auto;
  width: 65%;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-align: center;
}
.condd{
  padding-top: 10vh;
  margin: auto;
  width: 65%;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-align: center;
}
.conbiotext{
  font-size: 14px;
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
  line-height: 1.71429;
  font-weight: 300;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.con1 {
  overflow: hidden;
  max-width: 100%;
  margin-top: 5vh;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0px 15px;
}
.ContactsLine{
  margin-top: 5vh;
  margin-bottom:5vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  justify-content: space-between;
}
.contact1{
  font-size: 14px;
  padding: 2vw;
  font-weight: 300;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.Zag1{
  font-size: 30px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-weight: 700;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.zag1{
  font-size: 24px;
  padding-bottom: 1vh;
  font-weight: 700;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.bioZag{
  font-size: 24px;
  padding-bottom: 1vh;
  font-weight: 700;
  text-align: center;
  font-family: "Source Code Pro", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.te{
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.Iste{
  height: 150px;
  width: 150px;
}
.startPic{
  width: 1100px;
  height: 30vh;
  margin-bottom: 5vh;
  overflow: hidden;
}