body {
  font-family: "Ubuntu";
  font-size: 15px;
  color: #000000;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.con {
  overflow: hidden;
  max-width: 100%;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0px 15px;
  background-color: rgb(211, 210, 210);
}
.endlink {
  padding: 1vh;
  overflow: hidden;
  width: auto;
  color: black;
}
.end {
  width: 100%;
  padding-top: 5vh;
  font-family: "Ubuntu";
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.endtext1 {
  position: relative;
  width: 20%;
  height: auto;
  padding: 1vh;
  left: 0;
  font-family: "Ubuntu";
}
.endtext2 {
  position: relative;
  width: 20%;
  height: auto;
  padding: 1vh;
  left: 20%;
  text-align: center;
  font-family: "Ubuntu";
}
.endtext3 {
  position: relative;
  width: 20%;
  height: auto;
  padding: 1vh;
  left: 38%;
  text-align: right;
  font-family: "Ubuntu";
}
.nothing {
  padding-top: 40vh;
  padding-bottom: 35vh;
  text-align: center;
}
.header {
  position: fixed;
  height: 5%;
  width: 100%;
  left: 0;
  background-color: gray;
  top: 0;
  margin: 0 auto;
  z-index: 100;
  opacity: 0.9;
  text-align: center;
}
.HeaderMain {
  height: 5%;
  font-family: "Ubuntu";
  font-weight: bolder;
  padding: 1.5vw;
  text-decoration: overline;
  color: white;
  padding-top: 35vh;
  font-size: x-large;
}
.HeaderMainLogo {
  height: 5%;
  margin-left: 0;
  font-family: "Ubuntu";
  font-weight: bolder;
  padding: 1.5vw;
  text-decoration: overline;
  color: white;
  padding-top: 35vh;
  font-size: x-large;
}
.HeaderMusic {
  color: white;
  height: 5%;
  text-decoration: overline;
  font-family: "Ubuntu";
  font-weight: bolder;
  padding: 1.5vw;
  padding-top: 35vh;
  font-size: x-large;
}